
.metadata/
.settings/
.loadpath
.recommenders/

*.prefs



bin/
target/
out/
build/


*.class


*.log



.DS_Store
Thumbs.db


*.tmp
*.bak
*.swp
*.swo


.mvn/
!/.mvn/wrapper/maven-wrapper.jar
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties


.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar


*.iml
.idea/
